
@model VmRestaurantDetails
@{
    ViewData["Title"] = "Details";
}

<div class="main-wrapper">
    <div id="titlebar" class="gradient">
        <div class="title-bar-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Dingloy Place</h2>
                        <span>Explore New Places</span>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a>Home</a></li>
                                <li>Listings</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-overlay"></div>
    </div>
    <!-- Content -->
    <div class="container">
        <div class="content">
            <div class="row sticky-wrapper">
                <div class="col-lg-8 col-md-8">
                    <div class="">
                        <div class="detail-tile mb-4">
                            <h3>
                                Dingloy Place <span class="badge badge-pill badge-success text-uppercase">Open</span>
                            </h3>
                            <p>Dingloy Place, Remington, London, EC1V 8BP, United Kingdom</p>
                            <span class="badge badge-pill badge-info text-uppercase mr-2">Dinner</span>
                            <span class="badge badge-pill badge-info text-uppercase mr-2">Hotel</span>
                            <span class="badge badge-pill badge-info text-uppercase">Sea Food</span>
                        </div>
                        <div class="nav-wrapper">
                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0 active show" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fa fa-info-circle mr-2"></i>About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fa fa-map-marker mr-2"></i>Location</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-money mr-2"></i>Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-money mr-2"></i>Reviews</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade active show" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                        <p class="description">
                                            @Model.Restaurant.Name
                                        </p>
                                        <h4 class="mb-4">
                                            Contact Info
                                        </h4>
                                        <div class="row mb-5">
                                            <div class="col-lg-4">
                                                <div class="detail-list mb-2">
                                                    <div class="detail-list-label mb-1">
                                                        <i aria-hidden="true" class="fa fa-phone mr-2"></i>
                                                        <small class="text-uppercase font-weight-bold">Reception.</small>
                                                    </div>
                                                    <p class="m-0 text-small">@Model.Restaurant.Phone1</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="detail-list mb-2">
                                                    <div class="detail-list-label mb-1">
                                                        <i aria-hidden="true" class="fa fa-phone mr-2"></i>
                                                        <small class="text-uppercase font-weight-bold">For Complaints.</small>
                                                    </div>
                                                    <p class="m-0 text-small">@Model.Restaurant.Phone2</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="detail-list mb-2">
                                                    <div class="detail-list-label mb-1">
                                                        <i aria-hidden="true" class="fa fa-phone mr-2"></i><small class="text-uppercase font-weight-bold">Support.</small>
                                                    </div>
                                                    <p class="m-0 text-small">@Model.Restaurant.Phone3</p>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="mb-4">Features</h4>
                                        @foreach (var item in Model.Restaurant.RestaurantToFeatures)
                                        {
                                            <span class="badge badge-pill badge-primary text-uppercase mr-2 mb-2">@item.Feature.Name</span>

                                        }
                                    </div>
                                    <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                        <p class="description">@Model.Restaurant.Location</p>
                                        <div>
                                            <!-- <agm-map [latitude]="lat" [longitude]="lng" style="height: 300px">
                                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                            </agm-map> -->
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                        <div class="pricing-list-container">
                                            <ul>
                                                @foreach (var item in Model.Restaurant.Menus)
                                                {
                                                    <li>
                                                        <h5>@item.Name</h5>
                                                        <p>@item.Ingredients</p>
                                                        <span>$@item.Price</span>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
                                        <form id="add-comment" class="add-comment mb-5" asp-controller="Listing" asp-action="Review" method="post">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="text" asp-for="@Model.Review.FullName" placeholder="Name" class="form-control form-control-alternative">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="form-group">
                                                        <textarea class="form-control form-control-alternative" asp-for="@Model.Review.Content" placeholder="Comment" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <input type="hidden" name="Restaurant" asp-for="@Model.Review.RestaurantId" value="@Model.Restaurant.Id" />
                                            <button type="submit" class="mt-4 btn btn-primary">Submit Comment</button>
                                            <div class="clearfix"></div>
                                        </form>


                                        <div class="row mb-4 list-img-wrap">
                                            <div class="col-md-2 list-img">
                                                <img class="img-fluid rounded-circle shadow-lg" src="~/assets/images/thumb-1.jpg" alt="image">
                                            </div>
                                            <div class="col-md-10">
                                                <h5 class="text-primary">Charlotte Ainsley</h5>
                                                <p>15 Minutes Ago</p>
                                                <p>
                                                    Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                                                    recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                </p>
                                                <button class="btn btn-sm btn-primary" type="button">Helpful?</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sticky">
                        <!-- Book Now -->
                        <form asp-controller="Listing" asp-action="Booking" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-3">
                                <label asp-for="@Model.Booking.ClientName" class="form-label">Name</label>
                                <input class="form-control" asp-for="@Model.Booking.ClientName">
                                <span asp-validation-for="@Model.Booking.ClientName" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="@Model.Booking.BookingDate" class="form-label">Date</label>
                                <input class="form-control" asp-for="@Model.Booking.BookingDate">
                                <span asp-validation-for="@Model.Booking.BookingDate" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="@Model.Booking.RestaurantId" value="@Model.Restaurant.Id">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                        <!-- Book Now / End -->
                        <div class="boxed-widget bg-secondary mt-4 text-center p-4">
                            <h4 class="mb-4">Key People</h4>
                            <div class="mb-3">
                                <div class="mb-2">
                                    <img class="img-fluid rounded-circle shadow-lg" width="80" height="80" src="~/assets/images/thumb-1.jpg" alt="image">
                                </div>
                                <div class="">
                                    <h5 class="text-primary">Victoria Benson</h5>
                                </div>
                            </div>
                            <ul class="listing-details-sidebar">
                                <li><i class="fa fa-phone"></i> (123) 123-456</li>
                                <li><i class="fa fa-external-link"></i> http://example.com</li>
                                <li><i class="fa fa-envelope-o"></i>victoria@victoria.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
